<!DOCTYPE html>

<html>

<head>
    <title>Task Manager</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Use this site for task management!</p>

        <form>
            <input placeholder="ID"><br>
            <input placeholder="ID">
            
        </form>
         <form>
            <input placeholder="ID">
            
        </form>

        <p id='message-1'>

        </p>
        <p id='message-2'>

        </p>
    </div>

    {{>footer}}
    <script src="js/app.js"></script>
</body>

</html>